* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
label,
option,
input,
td {
  color: #353b3e;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #1c98cd;
}

button {
  background: #1c98cd;
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.25rem 0;
  border-radius: 2px;
  font-size: 1.125rem;
}

.app {
  width: 600px;
  height: 400px;
  background-color: #e2f3fb;
  overflow-y: auto;
}

.popup-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
