:root {
  --primary-dark: #1c98cd;
  --gray-light: #e5ebee;
}

h1,
h2,
h3,
p,
label,
option,
input,
td,
summary {
  color: #353b3e;
}

.optionsContainer {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

label {
  font-size: 1rem;
}

button {
  background: var(--primary-dark);
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.25rem 0;
  border-radius: 2px;
  font-size: 1.125rem;
  padding-inline: 1rem;
}

.urlInputs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.url {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.urlInputs input {
  flex-grow: 1;
  padding: 0.4rem;
  font-size: 1rem;
  border: none;
  background-color: var(--gray-light);
}

.buttonContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
